<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Error</title>
    <link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h3>Error</h3>
    <div th:if="${errorMessage}" class="alert alert-danger mt-3" th:text="${errorMessage}"></div>
    <div>
        Logged in user: <b th:inline="text"  class="user" sec:authentication="name"></b>
        <form th:action="@{/bidList/list}" method="get">
            <input type="submit" value="Home"/>
        </form>
    </div>
</div>
</body>
</html>